<%= form_tag('/session', method: :post) do %>

    <%= label_tag(:name, "Enter your username") %>
    <%= text_field_tag(:name) %>
  </div>
<br>

    <%= label_tag(:password, "Enter your password") %>
    <%= password_field_tag(:password) %>
  </div>
  
  <%= submit_tag("Login") %>
<% end %>
