
<% if @deck.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@deck.errors.count, "error") %> prohibited this deck from being saved:</h2>

    <ul>
      <% @deck.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
 </div>
 <% end %>
<%= form_tag('/users/:user_id/decks', method: :post) do %>
<%= label_tag(:name, "Deck Name") %>
<%= text_field_tag(:name) %>
<%= submit_tag("create deck") %>
<% end %>
