<h6>Deck Name and Format</h6>
<p>Click on the deck to see the cards, delete the deck, or go to the deck page to add/remove cards</p>
<p>Click on the format name to see all your decks of that format</p>

<% @decks.each do |deck| %>
<ol>
  <div class="deck">
        <%= link_to "#{deck.name}", user_deck_path(@user, deck), class:"load_deck"%>
        -- <%= link_to("edit", user_deck_path(@user, deck)) %>
        -- <%= link_to("delete", user_deck_path(@user, deck), method: :delete) %>
      <div class="cards">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Card Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Format: <%= link_to "#{deck.format.name}", user_format_path(@user, deck.format) %></th>
              </tr>
            </thead>
            <tbody>
              <% deck.cards.each do |card| %>
              <tr class="table-light">
                <th scope="row"><%= card.name %></th>
                <td><%= card.quantity %></td>
                <% @card = card %>
              <% end %>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</ol>
<% end %>
