<div class="deck-show">
<h2 class="text-center"> <%= @show_deck.name%> </h2>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Card Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @show_deck.cards.each do |card| %>
        <tr class="table-light">
          <th scope="row"><%= card.name %></th>
          <td><%= card.quantity %></td>
          <% @card = card %>
          <td> <%= link_to("", card_path(@card), method: :delete, class: "btn btn-danger") %> </td>
        <% end %>
      </tr>
      </tbody>
    </table>
<br>

    <%= button_to "Add Card", '/decks/cards/new' %>
</div>
