<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">DeckStorage</a>
  <% if current_user %>
  | <%= link_to "#{current_user.name}'s profile", user_path(current_user) %>
  | <%= link_to "Log Out", logout_path, method:'delete' %> |
  <% end %>
  <% if !current_user %>
  | <%= link_to 'Sign up', new_user_path %>
  | <%= link_to 'Log in', login_path %>
  | <%= link_to "Facebook Log In", '/auth/facebook' %> |
  <% end %>
</nav>
